<%- include('.././partials/header') %>
    <div class="container">
        <div class="row text-center">
            <h1>Tabuada do <%= num %>: </h1>
        </div>
        <table class="table text-center">
            <% for(let i=1; i<=100; i++){ %>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td> x</td>
                    <td>
                        <%= num %>
                    </td>
                    <td> = </td>
                    <td>
                        <%= num * i %>
                    </td>
                </tr>
                <% }%>
        </table>

    </div>

    <%- include('.././partials/footer') %>