<%- include('.././partials/header') %>
    <div class="container">
        <div class="row text-center">
            <h1>Tabuada do <%= num %>: </h1>
        </div>
        <table class="table text-center">
            <% tabuadas.map( (item)=>{ %>
                <tr>
                    <td>
                        <%= item.i %>
                    </td>
                    <td> x</td>
                    <td>
                        <%= item.num %>
                    </td>
                    <td> = </td>
                    <td>
                        <%= item.resultado %>
                    </td>
                </tr>
                <% }) %>
        </table>

    </div>

    <%- include('.././partials/footer') %>